*{
    font-family:"Source Sans Pro", sans-serif ;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    line-height:23px
}

body{
    background-color: rgb(40,42,53);
}

nav{
    background-color: white;
    display: flex;
    flex-direction: row;
}

ul li{
    list-style-type: none;
}

.ulFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

img{
    width: 5.4em;
}

