*{
    font-family:"Source Sans Pro", sans-serif ;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    line-height:23px
}

body{
    background-color: rgb(40,42,53);
}

nav{
    background-color: white;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family:"Source Sans Pro", sans-serif;
}



.logo-column img{
    width: 5.4em;
}

